<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Antojos Cliente</title>
    <link rel="stylesheet" href="style.css">
</head>
<header>
            <img src="imagen/logo.png" alt="Logo Cafe Elohim" class="logo-header">
        <h2> Cafe Elohim </h2>
        <p> En cada sabor del cafe de la Casa Elohim descubre el alma de nuestra tierra</p>
    </header>

    <nav> 
        <ul>
            <li><a href="/inicio_pagina">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <!-- Consideracion -->
             <li><a href="/carrito">Carrito</a></li> 
            </li>
        </ul>
    </nav>
    
<body class="pagina-limpia"> 
    <div class="categorias-container-productos">
        <a href="/cafe" class="pill-button" >Cafe</a>
        <a href="/postre" class="pill-button">Postres</a>
        <a href="/antojo" class="pill-button" style="background-color: #f1934f; color: white;">Antojos</a>
    </div>

    <h2 class="titulo-seccion">Nuestra Selección de Antojos</h2>

    <div class="grid-productos">
        </div>

  <main class="productos-container">
    
    <div class="grid-productos">
        <div class="producto-card">
            <img src="imagen/sandui.jpg" alt="Sanduich" class="producto-img">
            <h3> Sanduiwck </h3>
            <p class="precio">C$ 45.00</p>
            <button class="btn-agregar" data-id="9" data-nombre="Sanduich" data-precio="45">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/arancini.jpg" alt="Arancini " class="producto-img">
            <h3>Arancini</h3>
            <p class="precio">C$ 65.00</p>
            <button class="btn-agregar"data-id="10" data-nombre="Arancini" data-precio="65">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/ensalada.jpg" alt="Ensalada" class="producto-img">
            <h3>Ensalada club</h3>
            <p class="precio">C$ 60.00</p>
            <button class="btn-agregar"data-id="11" data-nombre="Ensalada club" data-precio="60">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/nacatamal.jpg" alt="Nacatamal" class="producto-img">
            <h3>Nacatamal</h3>
            <p class="precio">C$ 60.00</p>
            <button class="btn-agregar" data-id="12" data-nombre="Nacatamal" data-precio="60">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/arroz chino.jpg" alt="Arroz chino" class="producto-img">
            <h3>Arroz chino</h3>
            <p class="precio">C$ 180.00</p>
            <button class="btn-agregar"data-id="13" data-nombre="Arroz chino" data-precio="180">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/hamunguesa.jpg" alt="Amburguesa" class="producto-img">
            <h3>Hamburguesa</h3>
            <p class="precio">C$ 90.00</p>
            <button class="btn-agregar"data-id="14" data-nombre="Hamburguesa" data-precio="90">Agregar</button>
        </div>
    </div>
</main>

    <script src="script.js"></script>
</body>
<footer>
  <div class="footer-content">
    <div class="social-links">
      <span>Redes sociales:</span>

      <a href="https://tiktok.com/@jamil_pantoja">Tik Tok</a> 

      <a href="https://www.instagram.com/jamil_pantoja?igsh=N2pwaGx6bTF0dGpw">Instagram</a>

      <span class="divider"></span>
      <a href="https://github.com/justin2536">Git-Hub</a>
    </div>
    
    <div class="copyright">
      <p>&copy; 2026 Justin Jamil Pantoja Chavarria</p>
    </div>
  </div>
  </footer>
</html>