<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Cliente</title>
    <link rel="stylesheet" href="style.css">
</head>
<header>
            <img src="imagen/logo.png" alt="Logo Cafe Elohim" class="logo-header">
        <h2> Cafe Elohim </h2>
        <p> En cada sabor del cafe de la Casa Elohim descubre el alma de nuestra tierra</p>
    </header>

    <nav> 
        <ul>
            <li><a href="/inicio_pagina">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <!-- Consideracion -->
             <li><a href="/carrito">Carrito</a></li> 
            </li>
        </ul>
    </nav>
    
<body class="pagina-limpia"> 
    <div class="categorias-container-productos">
        <a href="/cafe" class="pill-button" style="background-color: #f1934f; color: white;">Cafe</a>
        <a href="/postre" class="pill-button">Postres</a>
        <a href="/antojo" class="pill-button">Antojos</a>
    </div>

    <h2 class="titulo-seccion">Nuestra Selección de Cafés</h2>

    <div class="grid-productos">
        </div>

  <main class="productos-container">
    
    <div class="grid-productos">
        <div class="producto-card">
            <img src="imagen/esspreso.jpg" alt="Espresso" class="producto-img">
            <h3>Espresso Tradicional</h3>
            <p class="precio">C$ 45.00</p>
            <button  class="btn-agregar" data-id="1" data-nombre="Espresso Tradicional" data-precio="45" >
    Agregar
</button>
 
        </div>

        <div class="producto-card">
            <img src="imagen/capuchino.jpg" alt="Cappuccino" class="producto-img">
            <h3>Cappuccino</h3>
            <p class="precio">C$ 65.00</p>
            <button class="btn-agregar" data-id="1" data-nombre="Cappuccino" data-precio="65">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/latte.jpg" alt="Latte" class="producto-img">
            <h3>Café Latte</h3>
            <p class="precio">C$ 60.00</p>
            <button class="btn-agregar" data-id="2" data-nombre="Cafe Latte" data-precio="60">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/americano.jpg" alt="Americano" class="producto-img">
            <h3>Cafe Americano</h3>
            <p class="precio">C$ 40.00</p>
            <button class="btn-agregar" data-id="3" data-nombre="Cafe Americano" data-precio="40">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/Café que Inspira Cada Momento.jpg" alt="Mocha" class="producto-img">
            <h3>Café Mocha</h3>
            <p class="precio">C$ 75.00</p>
            <button class="btn-agregar" data-id="4" data-nombre="Cafe Mocha" data-precio="75">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/Cortado.jpg" alt="Cafe cortado" class="producto-img">
            <h3>Cafe cortado</h3>
            <p class="precio">C$ 85.00</p>
            <button class="btn-agregar" data-id="5" data-nombre="Cafe cortado" data-precio="85">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/Cà phê trứng - Bật mí cách pha ly cafe trứng cực đơn giản, thơm ngon không bị tanh.jpg" alt="Frapuccino" class="producto-img">
            <h3>Cà Phê Trứng </h3>
            <p class="precio">C$ 60.00</p>
            <button class="btn-agregar" data-id="6" data-nombre="Cà Phê Trứng" data-precio="60">Agregar</button>
        </div>
        <div class="producto-card">
            <img src="imagen/Café a prueba de balas (Bulletproof).jpg" alt="" class="producto-img">
            <h3>Bulletproof Coffee</h3>
            <p class="precio">C$ 85.00</p>
            <button class="btn-agregar" data-id="7" data-nombre="Bulletproof Coffee" data-precio="85">Agregar</button>
        </div>
        <div class="producto-card">
            <img src="imagen/Espresso Tonic.jpg" alt="Espresso Tonic con Cítricos" class="producto-img">
            <h3>Espresso Tonic con Cítricos</h3>
            <p class="precio">C$ 85.00</p>
            <button class="btn-agregar" data-id="8" data-nombre="Espresso Tonic con Cítricos" data-precio="85">Agregar</button>
        </div>

    </div>
</main>


<script src="script.js"></script>
</body>
<footer>
  <div class="footer-content">
    <div class="social-links">
      <span>Redes sociales:</span>

      <a href="https://tiktok.com/@jamil_pantoja">Tik Tok</a> 

      <a href="https://www.instagram.com/jamil_pantoja?igsh=N2pwaGx6bTF0dGpw">Instagram</a>

      <span class="divider"></span>
      <a href="https://github.com/justin2536">Git-Hub</a>
    </div>
    
    <div class="copyright">
      <p>&copy; 2026 Justin Jamil Pantoja Chavarria</p>
    </div>
  </div>
  </footer>
  <script>
 
  </script>
</html>