<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto - Café Elohim</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="pagina-limpia">

    <header>
                <img src="imagen/logo.png" alt="Logo Cafe Elohim" class="logo-header">
        <h2>CAFE ELOHIM</h2>
        <p>En cada sabor del cafe de la Casa Elohim descubre el alma de nuestra tierra</p>
    </header>
  <nav> 
        <ul>
            <li><a href="/inicio_pagina">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contacto" class="active">Contacto</a></li>
            <!-- Consideracion -->
             <li><a href="/carrito">Carrito</a></li> 
            </li>
        </ul>
    </nav>
    <div class="categorias-container-productos">
        <a href="/cafe" class="pill-button">Cafe</a>
        <a href="/postre" class="pill-button">Postres</a>
        <a href="/antojo" class="pill-button">Antojos</a>
    </div>

    <main class="contacto-container">
        <div class="contacto-box">
            <h2>Contáctanos</h2>
            <p>¿Tienes dudas o sugerencias? Escríbenos y te responderemos pronto.</p>
<form action="/api/contacto" method="POST">
    <div class="form-group">
        <label for="nombre">Nombre Completo</label>
        <input type="text" id="nombre" name="nombreCompleto" placeholder="Tu nombre..." required>
    </div>

    <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input type="email" id="email" name="email" placeholder="ejemplo@correo.com" required>
    </div>

    <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <textarea id="mensaje" name="mensaje" rows="5" placeholder="Escribe tu mensaje aquí..." required></textarea>
    </div>

    <button type="submit" class="btn-enviar">Enviar Mensaje</button>
</form>
        </div>
    </main>
</body>
    <footer>
        <div class="footer-content">
            <div class="social-links">
                <span>Redes sociales:</span>
                <a href="https://tiktok.com/@jamil_pantoja">Tik Tok</a>
                <a href="https://www.instagram.com/jamil_pantoja?igsh=N2pwaGx6bTF0dGpw">Instagram</a> | 
                <a href="https://github.com/justin2536">Git-Hub</a>
            </div>
            <div class="copyright">
                <p>&copy; 2026 Justin Jamil Pantoja Chavarria</p>
            </div>
        </div>
    </footer>


</html>