<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar rol</title>
    
    <link rel="stylesheet" href="style.css">
</head>
<body class="cuerpo-login">
    <img src="frontend/imagen/local.jpg" alt="">
    
    <div class="login">  
    <h1> Iniciar Como</h1>
    <a href="/login_admin">
        <button class="login" > Administrador </button> 
    </a> 
    <br>

    <a href="/usuario_login">
        <button class="login"> Usuario</button>
    </a>
    </div>
    <link rel="stylesheet" href="script.js">
</body>
</html>