<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Cliente</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="fondo-cafe"> 

    <header>
        <img src="imagen/logo.png" alt="Logo Cafe Elohim" class="logo-header">
        <h2>Cafe Elohim</h2> 
        <p>En cada sabor del cafe de la Casa Elohim descubre el alma de nuestra tierra</p>
    </header>

    <nav> 
        <ul>
            <li><a href="/inicio_pagina">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/carrito">Carrito</a></li> 
        </ul>
    </nav>

    <div class="main-wrapper">
        
        <div class="categorias-container-inicio">
            <a href="/cafe" class="pill-button">Cafe</a>
            <a href="/postre" class="pill-button">Postres</a>
            <a href="/antojo" class="pill-button">Antojos</a>
        </div>

        <div class="carrusel-premium">
            <div class="carrusel-slides-container">
                
                <div class="slide-item active">
                    <img src="imagen/capuchino.jpg" alt="Cafe Americano">
                    <div class="info-producto-tag"> 

                    </div>
                </div>
                
                <div class="slide-item">
                    <img src="imagen/sandui.jpg" alt="cafe contado">
                    <div class="info-producto-tag">
                  
                    </div>
                </div>
                
                <div class="slide-item">
                    <img src="imagen/Croissants Sans Beurre aux Pépites de Chocolat - Plat et Recette.jpg" alt="Croissants">
                    <div class="info-producto-tag">
               
                    </div>
                </div>

                <div class="slide-item">
                    <img src="imagen/descarga (3).jpg" alt="latte">
                    <div class="info-producto-tag">
                   
                    </div>
                </div>
                <div class="slide-item">
                    <img src="imagen/Café que Inspira Cada Momento.jpg" alt="latte">
                    <div class="info-producto-tag">
                   
                    </div>
                </div>
                <div class="slide-item">
                    <img src="imagen/nacatamal.jpg" alt="latte">
                    <div class="info-producto-tag">
                   
                    </div>
                </div>
                <div class="slide-item">
                    <img src="imagen/Pinterest-Worthy Chocolate Cake Design Ideas.jpg" alt="latte">
                    <div class="info-producto-tag">
                      
                    </div>
                </div>
                <div class="slide-item">
                    <img src="imagen/hamunguesa.jpg" alt="latte">
                    <div class="info-producto-tag">
                      
                    </div>
                </div>


            </div>
        </div>
        <div class="card-crema main-info">
            <p>En cada sorbo de nuestro cafe descubres el alma de nuestra tierra. Tradición, pasión y el verdadero sabor Nicaragüense.</p>
        </div>

        <div class="card-crema thanks-info">
            <h2>¡Gracias por preferirnos!</h2>
        </div>

    </div>

    <footer>
        <div class="footer-content">
            <div class="social-links">
                <span>Redes sociales:</span>
                <a href="https://tiktok.com/@jamil_pantoja">Tik Tok</a> 
                <a href="https://www.instagram.com/jamil_pantoja?igsh=N2pwaGx6bTF0dGpw">Instagram</a>
                <span class="divider">|</span>
                <a href="https://github.com/justin2536">GitHub</a>
            </div>
            
            <div class="copyright">
                <p>&copy; 2026 Justin Jamil Pantoja Chavarria</p>
            </div>
        </div>
    </footer>
    <script src="script.js"></script>
</body>
</html>