<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Productos Cliente</title>
    <link rel="stylesheet" href="style.css">
</head>
<header>
            <img src="imagen/logo.png" alt="Logo Cafe Elohim" class="logo-header">
        <h2> Cafe Elohim </h2>
        <p> En cada sabor del cafe de la Casa Elohim descubre el alma de nuestra tierra</p>
    </header>

    <nav> 
        <ul>
            <li><a href="/inicio_pagina">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <!-- Consideracion -->
             <li><a href="/carrito">Carrito</a></li> 
            </li>
        </ul>
    </nav>
    
<body class="pagina-limpia"> 
    <div class="categorias-container-productos">
        <a href="/cafe" class="pill-button" >Cafe</a>
        <a href="/postre" class="pill-button">Postres</a>
        <a href="/antojo" class="pill-button" >Antojos</a>
    </div>

    <h2 class="titulo-seccion">Nuestra Selección de todos los productos</h2>

    <div class="grid-productos">
        </div>

  <main class="productos-container">
        
    <div class="grid-productos">
        <div class="producto-card">
            <img src="imagen/esspreso.jpg" alt="Espresso" class="producto-img">
            <h3>Espresso Tradicional</h3>
            <p class="precio">C$ 45.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/capuchino.jpg" alt="Cappuccino" class="producto-img">
            <h3>Cappuccino</h3>
            <p class="precio">C$ 65.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/latte.jpg" alt="Latte" class="producto-img">
            <h3>Café Latte</h3>
            <p class="precio">C$ 60.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/americano.jpg" alt="Americano" class="producto-img">
            <h3>Cafe Americano</h3>
            <p class="precio">C$ 40.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/Café que Inspira Cada Momento.jpg" alt="Mocha" class="producto-img">
            <h3>Café Mocha</h3>
            <p class="precio">C$ 75.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/Cortado.jpg" alt="Cafe cortado" class="producto-img">
            <h3>Cafe cortado</h3>
            <p class="precio">C$ 85.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/Cà phê trứng - Bật mí cách pha ly cafe trứng cực đơn giản, thơm ngon không bị tanh.jpg" alt="Frapuccino" class="producto-img">
            <h3>Cà Phê Trứng </h3>
            <p class="precio">C$ 60.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>
        <div class="producto-card">
            <img src="imagen/Café a prueba de balas (Bulletproof).jpg" alt="" class="producto-img">
            <h3>Bulletproof Coffee</h3>
            <p class="precio">C$ 85.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>
        <div class="producto-card">
            <img src="imagen/Espresso Tonic.jpg" alt="Espresso Tonic con Cítricos" class="producto-img">
            <h3>Espresso Tonic con Cítricos</h3>
            <p class="precio">C$ 85.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>


           

        <div class="producto-card">
            <img src="https://i.pinimg.com/736x/41/80/f2/4180f23dbff7b2656e4936af703e2876.jpg" alt="Sanduich" class="producto-img">
            <h3> Sanduiwck </h3>
            <p class="precio">C$ 45.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="https://i.pinimg.com/736x/59/0c/cc/590ccce0ffddaf2eac995f2fbed6dfcb.jpg" alt="Arancini " class="producto-img">
            <h3>Arancini</h3>
            <p class="precio">C$ 65.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="https://i.pinimg.com/736x/08/c7/0d/08c70d473888e35bd1c4cd9d1d2983d7.jpg" alt="Ensalada" class="producto-img">
            <h3>Ensalada club</h3>
            <p class="precio">C$ 60.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="https://i.pinimg.com/1200x/6e/20/62/6e2062c9dc03f15e4e0bd3909c72b837.jpg" alt="Nacatamal" class="producto-img">
            <h3>Nacatamal</h3>
            <p class="precio">C$ 60.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="https://i.pinimg.com/736x/66/cf/3c/66cf3c3c43430ced19508923c474853f.jpg" alt="Arroz chino" class="producto-img">
            <h3>Arroz chino</h3>
            <p class="precio">C$ 180.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="https://i.pinimg.com/736x/eb/cb/c6/ebcbc6aaa9deca9d6efc1efc93b66945.jpg" alt="Amburguesa" class="producto-img">
            <h3>Hamburguesa</h3>
            <p class="precio">C$ 90.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

    
        <div class="producto-card">
            <img src="imagen/Pinterest-Worthy Chocolate Cake Design Ideas.jpg" alt="Bizcocho de chocolate" class="producto-img">
            <h3>Bizcocho de chocolate</h3>
            <p class="precio">C$ 30.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/Beignets - chefNini.jpg" alt="Dona" class="producto-img">
            <h3>Beignets</h3>
            <p class="precio">C$ 65.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/Croissants Sans Beurre aux Pépites de Chocolat - Plat et Recette.jpg" alt="Croissant" class="producto-img">
            <h3>Croissant </h3>
            <p class="precio">C$ 60.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/descarga (3).jpg" alt="Banana split" class="producto-img">
            <h3>Banana Split</h3>
            <p class="precio">C$ 40.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/descarga (4).jpg" alt="Wafles" class="producto-img">
            <h3>Wafles dulces</h3>
            <p class="precio">C$ 75.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>

        <div class="producto-card">
            <img src="imagen/panqueques.jpg" alt="panqueques" class="producto-img">
            <h3>Panqueques</h3>
            <p class="precio">C$ 40.00</p>
            <button class="btn-agregar">Agregar</button>
        </div>
    
    </div>

</main>

  <script src="script.js"></script>  
</body>
<footer>
  <div class="footer-content">
    <div class="social-links">
      <span>Redes sociales:</span>

      <a href="https://tiktok.com/@jamil_pantoja">Tik Tok</a> 

      <a href="https://www.instagram.com/jamil_pantoja?igsh=N2pwaGx6bTF0dGpw">Instagram</a>

      <span class="divider"></span>
      <a href="https://github.com/justin2536">Git-Hub</a>
    </div>
    
    <div class="copyright">
      <p>&copy; 2026 Justin Jamil Pantoja Chavarria</p>
    </div>
  </div>
  </footer>
</html>