<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario inicio sesion - registrarse</title>
    <script src="https://kit.fontawesome.com/tu-kit-id.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class="cuerpo-login">
    <div class="login-box">
        <form action="/api/login" method="POST">
            
            <label for="usuario">Correo Electrónico</label>
            <div class="input-group">
                <i class="fas fa-user"></i> 
                <input type="email" id="usuario" name="email" placeholder="ejemplo@correo.com" required> 
            </div>

            <label for="password">Contraseña</label>
            <div class="input-group">
                <i class="fas fa-lock"></i> 
                <input type="password" id="password" name="password" placeholder="12345678" required>
            </div>   

            <button type="submit" class="btn-ingresar">Ingresar</button>

            <h2 class="registro-text">
                No tienes cuenta? <br>
                <a href="/registro">Crea una</a>
            </h2>
        </form>
    </div>
</body>
</html>